<a href="https://colab.research.google.com/github/AmirMoazzami/207_final_project/blob/Soroush/W207_FinalProject_SoroushYazdani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url='https://raw.githubusercontent.com/AmirMoazzami/207_final_project/main/sample_submission.csv'
df1 = pd.read_csv(url)

In [3]:
df1

       id                          prognosis
0     707  Dengue Zika Japanese_encephalitis
1     708  Dengue Zika Japanese_encephalitis
2     709  Dengue Zika Japanese_encephalitis
3     710  Dengue Zika Japanese_encephalitis
4     711  Dengue Zika Japanese_encephalitis
..    ...                                ...
298  1005  Dengue Zika Japanese_encephalitis
299  1006  Dengue Zika Japanese_encephalitis
300  1007  Dengue Zika Japanese_encephalitis
301  1008  Dengue Zika Japanese_encephalitis
302  1009  Dengue Zika Japanese_encephalitis

[303 rows x 2 columns]